*{
	margin:0px;
	padding:0px;
}

body{
	width:100%; 
}
.logo{
	height:100px;
/*	background-color:coral;*/
	
}
.logo h1{
	margin-top:30px;
	text-align:center;
	font-family: 'Architects Daughter', cursive;
	font-size:30px;
	color:black;
	margin-left:20px;
}
.menu{
	
	height:50px;

}
.full{
/*	background-color: lightpink;*/
	height:500px;
}
.full img{
	background-size:cover;
	height:500px;
    width:400px;
	margin-left:200px;
}
.row1{
	

/*	background-color:red;*/
	height:400px;
}
.fulltext{
/*    background:pink;*/
	height:300px;
	
}
.card-img {
	width:300px;
	height:300px;
	margin-left:500px;
	margin-top:0px;
}

.card-title{
    color:black;
	font-family: 'Abril Fatface', cursive;
    font-size:35px;
    margin-left:300px;
	
}
.pa{
	margin-left:20px;
/*	background-color: red;*/
}
.hinh1{
/*	background-color:red;*/
	height:700px;
}
.box img{
	width:300px;
	height:300px;
	float:left;
	margin-right:15px;
	margin-top:30px;
}
.box2 img{
	width:300px;
	height:300px;
	float:right;
	margin-right:15px;
	margin-top:30px;
}
.fot{
	background-color:slategray;
	height:100px;
	
}



